header{
	color: #fff;
	background-color: #262626;
	margin: 20px;
}
a{
	text-decoration: none;
}
header a{
	color: #fff;
}
#headerNavTop{
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
.large{
	font-size: 1.8rem;
}
#headerTopMenu{
	padding: 10px;
}
#header-logo img{
	height: 58px;
}
#social{
	padding: 10px;
}
#headerNavBottom{
	font-size: 1rem;
}
#headerNavBottom li{
	margin:0;
}
#lowerMainMenu li{
	padding: 0 10px 0 10px;
	margin-top: 10px;
}
#lowerSubMenu{
	padding: 10px 0 10px 0;
}
#lowerSubMenu li a{
	padding: 0 6px 0 6px;
}
@media (max-width: 870px){
	#social li{
		margin-right: 1em;
	}
	#headerTopMenu li{
		margin-right: 1em;
	}
}
@media (max-width: 769px){
	#social li{
		display: none;
	}
	#headerTopMenu li{
		display: none;
	}
	#headerNavBottom{
		font-size: .7rem;
	}
}