.ad{
	padding: 0 20px;
}
.ad-image{
	background-color: #ccc;
	width:100%;
	height: 60px;
	color: white;
	margin: 20px 0 20px 0;
}
// .topHeadlines-image{
// 	background-image: -webkit-linear-gradient(rgba(76,76,76,0) 0%, rgba(89,89,89,0) 12%, rgba(102,102,102,0) 25%, rgba(71,71,71,0) 39%, rgba(44,44,44,0) 50%, rgba(0,0,0,0.02) 51%, rgba(17,17,17,0.2) 60%, rgba(43,43,43,0.52) 76%, rgba(28,28,28,0.82) 91%, rgba(19,19,19,1) 100%);
// 	background-image: -o-linear-gradient(rgba(76,76,76,0) 0%, rgba(89,89,89,0) 12%, rgba(102,102,102,0) 25%, rgba(71,71,71,0) 39%, rgba(44,44,44,0) 50%, rgba(0,0,0,0.02) 51%, rgba(17,17,17,0.2) 60%, rgba(43,43,43,0.52) 76%, rgba(28,28,28,0.82) 91%, rgba(19,19,19,1) 100%);
// 	background-image: linear-gradient(rgba(76,76,76,0) 0%, rgba(89,89,89,0) 12%, rgba(102,102,102,0) 25%, rgba(71,71,71,0) 39%, rgba(44,44,44,0) 50%, rgba(0,0,0,0.02) 51%, rgba(17,17,17,0.2) 60%, rgba(43,43,43,0.52) 76%, rgba(28,28,28,0.82) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */	
// }	
#topHeadlines{
	color: white;
	position:relative;
}
.topHeadlines-container{
	//max-height: 405px;
	overflow: hidden;
}
.topHeadlines{
	position:absolute;
 	color:white;
 	top:0;
 	left:0;
 	font-size:20px;
 	font-weight: bold;
 	width:100%;
 	padding:5px 0 0 10px;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.5) 50%, rgba(32,124,202,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.topHeadlines-image{
	width: 100%
}
.features{
	padding: 0 0 0 10px;
}
.features-article{
	padding: 0 10px 10px 0 !important;
}

.features-article:nth-of-type(even){
	float: right;
}

.features-article:last-of-type{
	padding: 0;
}

.features-articleImage{
	width: 100%
}
.title, .subtitle{
	position:absolute;
 	color:white;
	display:block;
	width:93%;
	text-overflow:clip;
	overflow:hidden;
}
.title{
	left: 5px;
	bottom: 50px;
	white-space: pre-wrap;
}
.subtitle{
	left: 5px;
	bottom:0;
	white-space: nowrap;
}
.topHeadlines-container .subtitle{
	width:100%;
}
.content .title{
	left: 15px;
	width: 65%;
	height: 50px;
}
.content .subtitle{
	left: 15px;
    width: 65%;
    height: 40px;
    white-space: pre-wrap;
    margin: 0 0 1rem;
}
#listenNow{
	color: #3d5576;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #3d5576;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.content{
	margin-top: 10px;
}
.row2{
	width: 67%;
}
#row2:last-of-type{
	float: left;
	padding: 10px;
}
.streamcast{
	color:white;
	background: #1e5799;
	width:100%;
	margin-top: 2px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 25px;
}
.streamcast-container a{
	text-decoration: none;
	color: black;
}
.streamcast-text p{
	font-size: 16px;
	padding-top: 5px;
}
.carousel:after{
	content:'';
}
@media (max-width: 950px){
	.title{
		font-size: 1.8rem;
	}
	.content .title{
		height: 35px;
	}
}
@media (max-width: 769px){
	#topHeadlines{
		padding:8px;
	}
	.carousel:after{
		content:'flickity';
		display:none;
	}
	.carousel-cell {
	  width: 100%;
	  counter-increment: gallery-cell;
	}
	.carousel-cell:before {
	  display: block;
	  content: counter(gallery-cell);
	}
}
