#topHeadlines{
	color: white;
	margin:10px;
	position:relative;
	padding:0;
}
#large-img{
	padding:10px;
}
#large-img span{
	position:absolute;
 	color:white;
 	top:10px;
 	left:10px;
 	font-size:20px;
 	font-weight: bold;
 	width:100%;
 	padding:5px 0 0 10px;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.5) 50%, rgba(32,124,202,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#small-img{
	padding:10px;
}
#listenNow{
	color: #5779a8;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #5779a8;
    padding: 10px;
    margin: 0 20px 0 20px;
}
@media (max-width: 769px){
	#topHeadlines{
		padding:8px;
	}
}