.ad{
	padding: 0 20px;
}
.ad-image{
	background-color: #ccc;
	width:100%;
	height: 60px;
	color: white;
	margin: 20px 0 20px 0;
}
.image-text{
	position:absolute;
    background: -webkit-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
.content .image-text h3{
	font-size: 1.8rem;
}	
.content .image-text p{
	font-size: 1.2rem;
}
#topHeadlines{
	color: white;
	position:relative;
}
.topHeadlines-container{
	padding: 0;		
}
.topHeadlines-container .image-text{
	width: 100%;
    padding-left: 5px;
    bottom:0;
}
.features-article .image-text{
	bottom: 10px;
    width: 96%;
}
.content .image-text{
	bottom:10px;
	width:95%;
	padding-left: 5px;
}
.topHeadlines{
	position:absolute;
 	color:white;
 	top:0;
 	left:0;
 	font-size:20px;
 	font-weight: bold;
 	width:100%;
 	padding:5px 0 0 10px;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.5) 50%, rgba(32,124,202,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.topHeadlines-image{
	width: 100%
}
.features{
	padding: 0 0 0 10px;
}
.features-article{
	padding: 0 10px 10px 0 !important;
}

.features-article:nth-of-type(even){
	float: right;
}

.features-article:last-of-type{
	padding: 0;
}

.features-articleImage{
	width: 100%
}
.title, .subtitle{
 	color:white;
	display:block;
	text-overflow:clip;
	overflow:hidden;
	margin: 5px 0 0 5px;
}
.title{
	white-space: pre-wrap;
}
.subtitle{
	white-space: nowrap;
}
.topHeadlines-container .subtitle{
	width:100%;
}
.content .title{
	width: 65%;
	height: 52px;
}
.content .subtitle{
    width: 65%;
    height: 40px;
    white-space: pre-wrap;
}
#listenNow, #moreLinks{
	color: #3d5576;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #3d5576;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
#moreLinks{
	display: none;
}
.listenNow{
	padding: 10px !important;
}
.content{
	margin-top: 10px;
}
[class*='span-']:last-of-type{
	padding: 10px;
}
.streamcast{
	color:white;
	background: #1e5799;
	width:100%;
	margin-top: 2px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 25px;
}
.streamcast-container{
	margin-bottom: -350px;
}
.streamcast-container a{
	text-decoration: none;
	color: black;
}
.streamcast-text p{
	font-size: 16px;
	padding-top: 5px;
}
.streamcast-text h4{
	font-size: 1.8rem;
}
.streamcastRows{
	overflow:hidden;
}
@media (max-width: 950px){
	.title{
		font-size: 1.8rem;
	}
	.content .title{
		height: 35px;
	}
}
@media (max-width: 769px){
	#topHeadlines{
		padding:8px;
	}
	.topHeadlines-container{
		padding: 10px;
	}
	.topHeadlines{
		top: 10px;
		left: 10px;
	}
	.topHeadlines-container .image-text{
		bottom:10px;
		width: 97%;
	}
	.features-article .image-text{
		width: 98%;
	}
	.content .image-text{
		width: 97%;
	}
	.streamcast-container{
		margin: 0;
		padding: 0 !important;
	}
	.streamcastCol{
		padding-bottom: 0;
	}
	.streamcast{
		position:absolute;
	 	top:-5px;
	 	left:10px;
	 	width:100%;
	 	padding:5px 0 0 10px;
		background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.5) 50%, rgba(32,124,202,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.5) 50%,rgba(32,124,202,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	#moreLinks{
		display: inline;
	}
	.moreLinks{
		padding: 10px 10px 20px 10px !important;
	}
	#listenNow{
		display: none;
	}
	.listenNow{
		padding:0 !important;
	}
	.streamcast-text{
		display:none;
	}
}
@media (max-width: 420px){
	.topHeadlines-container .image-text{
		width: 94%;
	}
	.features-article .image-text{
		width: 97%;
	}
	.content .image-text{
		width: 94%;
	}
}
