footer{
	background-color: #262626;
    color: white;
    font-weight: bold;
    margin:20px;
}
.footer-menu li{
	height: 80px;
	text-align: center;
	display:inline;
}
footer a{
	color:white;
}
#top_footer{
    border-bottom: 1px solid #ccc;
    padding:10px;
}
#top_footer ul{
	margin:0;
}
#footer-links li{
	display:inline-block;
	padding-left:10px;
}
#footer-links a{
	text-decoration: none;
}
#truNewsInfo{
	font-size:12px;
}
#truNewsInfo span{
	line-height:20px;
	font-weight:normal;
}
#bottom{
	width:100%;
	font-size:12px;
	text-align:center;
	margin:10px;
}
.bottom ul{
	margin:0;
}
#bottom li{
	display:inline;
	padding: 0 5px 0 5px;
}
.trademark{
	width:100%;
	text-align: center;
	margin-bottom:10px;
	font-size:10px;
	font-weight: normal;
}
.trademark span{
	vertical-align: top;
	font-size: 6px;
}
@media (max-width: 780px){
	#top{
		display:none;
	}
	footer{
		padding:40px;
	}
}