.main-article h2{
	padding-bottom: 15px;
}
.main-article img{
	padding-bottom: 15px;
}
.article h5, .article p{
	line-height: 1.3;
	display: inline;
}
.right-rail{
	padding-left: 20px;
}
.side-title h4, .side-info h4, .article h4{
	font-size: 1.7rem;
}
.side-title h4{
	padding-bottom: 10px;
}
.side-info h4{
	padding: 10px 0 10px 0;
}
.side-title p{
	font-weight: bold;
	margin:0;
	padding-bottom: 10px;
}
.side-article, .side-info h4{
	line-height: 1.3;
}
.share{
	display:none;
}
.share a{
	text-decoration: none;
}
.socialShare{
	padding: 40px 0 40px 0;
}
.tweet, .facebook{
	display: inline;
	background-color: #000;
	color: #fff;
	font-size: 30px;
	padding: 20px 100px;
}
.share [class*='span-']:last-of-type{
	float: left;
}
.jcarousel [class*='span-']:last-of-type{
	float:left;
}
.wrapper{
	padding-top: 30px;
}
.wrapper h3{
	padding-left: 15px;
}
.jcarousel .image-text{
	bottom:0;
	width:100%;
	padding-left: 5px;
}
.jcarousel .title{
	font-size: 1.8rem;
}
.jcarousel .subtitle{
	margin-bottom: 5px;
	height: 40px;
	white-space: pre-wrap;
}
.jcarousel-wrapper {
    margin:40px;
    position: relative;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    margin-right: 20px;
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    color: #000;
}
.jcarousel-control-prev {
    left: 15px;
}
.jcarousel-control-next {
    right: 8px;
}
.jcarousel-pagination {
	display: none;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
@media (max-width: 769px){
	.right-rail{
		display: none;
	}
	.share{
		display:block;
	}
}
@media (max-width: 450px){
	.tweet, .facebook{
		padding: 15px 50px;
	}
}