body{
	font-family: 'Nunito', sans-serif;
	color: #000000;
}
.image-text{
	position:absolute;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(1,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
.content .image-text h3{
	font-size: 1.8rem;
}	
.content .image-text p{
	font-size: 1.2rem;
}
.title, .subtitle{
 	color:white;
	display:block;
	text-overflow:clip;
	overflow:hidden;
	margin: 5px 0 0 5px;
}
.title{
	white-space: pre-wrap;
}
.subtitle{
	white-space: nowrap;
}
.underline{
	text-decoration: underline;
}
.decorate_none{
	text-decoration: none;
}
.orange-text{
	color: #d35400;
}
.seperate{
	border-right: 1px solid #ccc;
}